*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*custome variables*/
:root {
  --bg-body: #1f2122;
  --bg-dark-gray: #27292a;
  --color-light-gray: #666;
  --color-black: #1e1e1e;
  --color-dark-pink: #e75e8d;
  --color-very-dark-pink: #ec6090;
  --color-dark-white: #eee;
  --color-white: #fff;
}

/*the html document base font-size*/
html {
  font-size: 62.5%;
}

.color-pink {
  color: var(--color-very-dark-pink);
}

.text-bold {
  font-weight: 700;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-body);
  font-size: 1.5rem;
}

/*header part*/
header {
  z-index: 1;
  position: sticky;
  top: 0;
  background: var(--color-white);
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 2.5prem;
  z-index: 1;
}

.search-btn,
input[type="search"] {
  display: none;
}

/*humberger menu*/
.menu-bar {
  z-index: 1;
  width: 3.1rem;
  height: 4rem;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-bar .line {
  background: var(--color-dark-pink);
  height: 0.2rem;
  width: 100%;
}

.line + .line {
  margin-top: 0.7rem;
}

.line-1,
.line-3 {
  width: calc(100% - 0.7rem) !important;
  transition: transform 1s ease, opacity 1s ease;
}

.line-2 {
  transition: opacity 1s ease;
}

.rotate-line-1 {
  transform: rotate(-45deg) translate(-3px, 5px);
}

.vanish-line-2 {
  opacity: 0;
}

.rotate-line-3 {
  transform: rotate(45deg) translate(-7px, -10px);
}

/*nav bar*/
nav {
  margin: 1.5rem auto 0;
  width: 100%;
  background: var(--bg-body);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list {
  background: var(--color-white);
  width: 90%;
  max-width: 74.4rem;
  margin: 0 auto;
  list-style-type: none;
  position: absolute;
  top: 100%;
  transition: transform 1s ease, opacity 1s ease;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.nav-item--last img {
  display: none;
}

.nav-item a {
  border-top: 1px solid var(--color-dark-white);
  padding: 1.4rem 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.4rem;
  transition: color 1s ease;
}

.nav-item a:hover {
  color: var(--color-very-dark-pink);
}

/*wrapper element which contain the main element*/
.wrapper {
  padding: 3rem 1.3rem 0;
}

/*main element*/
main {
  background: var(--bg-dark-gray);
  padding: 0 3rem;
  border-radius: 2.3rem;
}

/*introduction section*/
.introduction {
  border-radius: 2.3rem;
  padding: 9.05rem 0;
  background: url("../assets/images/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 6.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 2.5rem;
  margin: 0 auto 2.5rem;
  width: 45.8vw;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-white);
}

.introduction .description {
  text-align: center;
  text-transform: uppercase;
  width: 53.5vw;
  font-size: 3.3rem;
  color: var(--color-white);
  line-height: 1.2;
  margin-bottom: 2.8rem;
}

.browse {
  border: none;
  border-radius: 2.5rem;
  letter-spacing: 1px;
  background: var(--color-very-dark-pink);
  padding: 1.3rem 3.2rem;
  font-size: 1.4rem;
  color: var(--color-white);
  transition: color 0.5s ease, background 0.5s ease;
}

.browse:hover {
  background: white;
  color: var(--color-very-dark-pink);
}

/* popular section */
.popular-section {
  background: var(--bg-body);
  padding: 3rem 3rem 5.7rem;
  margin-bottom: 7rem;
  border-radius: 1.8rem;
  position: relative;
}

.section-title {
  color: var(--color-very-dark-pink);
  font-size: 1.9rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.section-title u {
  color: var(--color-white);
}

.popular-game-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3.5rem 1.7rem;
}

.game {
  background: var(--bg-dark-gray);
  padding: 2.9rem 1.5rem 2.5rem;
  border-radius: 2.5rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.game-img {
  grid-column: 1 / -1;
  border-radius: 2.3rem;
  margin-bottom: 1.7rem;
  width: 100%;
}

.game-title {
  color: var(--color-white);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.game > * {
  justify-self: start;
}

.rating,
.downloads {
  justify-self: end;
  color: var(--color-white);
  font-size: 1.3rem;
}

.rating i {
  color: yellow;
  font-size: 1.3rem;
}

.downloads i {
  color: var(--color-very-dark-pink);
  font-size: 1.3rem;
}

.game .description {
  color: var(--color-light-gray);
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: none;
  text-align: left;
  margin-bottom: 0;
}

.popular-section button.browse,
.gaming-library button.browse {
  display: inline-block;
  text-transform: capitalize;
  padding: 1.5rem 3.2rem;
  font-size: 1.45rem;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  max-width: 19.5rem;
  transform: translateY(40%);
}

.game-wrapper {
  grid-column: 1 / -1;
  background: var(--bg-dark-gray);
  border-radius: 2.5rem;
  display: grid;
  grid-gap: 0 1.7rem;
}

/*Gaming library*/
.gaming-library {
  background: var(--bg-body);
  padding: 3rem 3rem 2.4rem;
  border-radius: 1.8rem;
  position: relative;
}

.gaming-library .section-title {
  margin-bottom: 0.8rem;
}

.game-information {
  list-style-type: none;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 1.7rem 15%;
}

.game-information .game-img {
  grid-column: 1 / -1;
  justify-self: center;
  width: 8rem;
  height: 8rem;
  border-radius: 2.2rem;
  margin: 2.2px 0;
}

.game-info h3 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8;
  color: var(--color-light-gray);
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.game-info h3 strong {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-white);
}

.download-btn {
  grid-column: 1 / -1;
  border: 1px solid var(--color-light-gray);
  border-radius: 4rem;
  background: transparent;
  color: var(--color-light-gray);
  text-transform: capitalize;
  padding: 1.5rem 3rem;
  width: 15.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
}

.download-btn--pink {
  width: 13.6rem;
  color: var(--color-very-dark-pink);
  border-color: var(--color-very-dark-pink);
  transition: background 0.7s ease border-color 0.7s ease;
}

.download-btn--pink:hover {
  background: white;
  border-color: white;
}

/*footer*/
footer {
  padding-bottom: 3.8rem;
  width: 90%;
  max-width: 52rem;
  line-height: 2.5;
  margin: 3rem auto 0;
  color: var(--color-white);
}

footer p {
  text-align: center;
}

@media (min-width: 578px) {
  /*wrapper class element which includes the main element*/
  .wrapper {
    display: grid;
    justify-content: center;
  }

  /*popular-section*/
  .popular-game-list,
  .game-wrapper {
    grid-template-columns: 21rem 21rem;
  }
}

@media (min-width: 767px) {
  /*main element*/
  main {
    width: 516px;
    padding: 6.5rem;
  }

  /*introduction section*/
  .introduction {
    align-items: flex-start;
    padding: 8rem 6rem;
  }

  .title {
    width: 100%;
    margin: 0 0 2.9rem;
    text-align: left;
    font-size: 2.1rem;
  }

  .introduction .description {
    width: 90%;
    text-align: left;
    font-size: 4.3rem;
    font-weight: 750;
    line-height: 1.25;
  }

  /*popular-section*/
  .popular-game-list,
  .game-wrapper {
    grid-template-columns: auto auto;
  }

  /*game library section*/
  .game-information {
    justify-content: stretch;
    justify-items: start;
    align-items: end;
  }

  .game-info h3 {
    margin-bottom: 0;
    text-align: left;
  }

  .game-information .game-img {
    margin: 2.2rem 0 0;
    grid-column: 1;
    justify-self: start;
  }

  .download-btn {
    grid-column: span 1;
  }
}

@media (min-width: 768px) {
  /*wrapper element which include the main element*/
  .wrapper {
    padding: 3rem 4rem 0;
  }

  /*main element*/
  main {
    width: 69.6rem;
  }
}

@media (min-width: 992px) {
  /*header section*/
  header {
    width: 93.6rem;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-top: 3.2rem;
    background: var(--bg-body);
    justify-content: flex-start;
    align-items: flex-start;
  }

  .logo {
    margin: 0 2.8rem 0 0;
  }

  .search-btn {
    background: var(--bg-dark-gray);
    padding: 1.3rem 2rem;
    width: 23.1rem;
    border-radius: 5rem;
    margin-right: 2.5rem;
    display: flex;
  }

  .search-icon {
    color: var(--color-light-gray);
  }

  input[type="search"] {
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 0.8rem;
  }

  /*hamburger menu*/
  .menu-bar {
    display: none;
  }

  /*nav bar*/
  nav {
    width: auto;
    flex-grow: 1;
    margin: 0;
    align-self: flex-start;
  }

  .nav-list {
    background: transparent;
    position: static;
    width: 100%;
    max-width: unset;
    display: flex;
    justify-content: flex-end;
  }

  .hidden {
    transform: unset;
    opacity: unset;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .nav-item + .nav-item {
    margin-left: 2.8rem;
  }

  .nav-item--last {
    background: var(--bg-dark-gray);
    padding: 0.8rem 0.8rem 0.8rem 1.8rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
  }

  .nav-item--last img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    display: inline;
  }

  .nav-item a {
    color: var(--color-light-gray);
    border: none;
    padding: 0;
  }

  .nav-item a:hover {
    color: var(--color-very-dark-pink);
  }

  .introduction .description {
    width: 70%;
  }

  main {
    width: 93.6rem;
  }

  .section-title {
    font-size: 3.2rem;
  }

  .section-title u {
    color: var(--color-white);
  }

  .popular-game-list,
  .game-wrapper {
    grid-template-columns: repeat(4, 17.1rem);
  }

  .game-wrapper {
    grid-column: span 2;
  }

  .game-information {
    grid-template-columns: 8rem;
    grid-auto-flow: column;
    align-items: end;
    grid-gap: 1.7rem 3.5rem;
  }

  .game-info {
    margin-bottom: 1.3rem;
  }

  .download-btn {
    margin-bottom: 1.3rem;
  }
}

@media (min-width: 1200px) {
  header {
    width: 120.5rem;
  }

  main {
    width: auto;
  }

  .logo {
    margin: 0 9.3rem 0 0;
  }

  .nav-item + .nav-item {
    margin-left: 4rem;
  }

  .nav-item--last {
    margin-right: 1rem;
  }

  .introduction .description {
    width: 55%;
  }

  .popular-game-list,
  .game-wrapper {
    grid-template-columns: repeat(4, 24rem);
  }
}

@media (min-width: 1400px) {
  header {
    width: 128.9rem;
  }

  .logo {
    margin: 0 13.1rem 0 0;
  }

  .popular-game-list,
  .game-wrapper {
    grid-template-columns: repeat(4, 26.1rem);
  }
}
